body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}

.monopoly-font {
    font-family: 'Montserrat', sans-serif;
}

.card-shadow {
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
